# Intellij IDEA
.idea/

# Paper
paper-local/cache
paper-local/config
paper-local/crash-reports
paper-local/libraries
paper-local/logs
paper-local/plugins
paper-local/versions
paper-local/world
paper-local/world_nether
paper-local/world_the_end
paper-local/.console_history
paper-local/banned-ips.json
paper-local/banned-players.json
paper-local/bukkit.yml
paper-local/commands.yml
paper-local/eula.txt
paper-local/help.yml
paper-local/ops.json
paper.yml-README.txt
paper-local/permissions.yml
paper-local/server.properties
paper-local/spigot.yml
paper-local/usercache.json
paper-local/version_history.json
paper-local/whitelist.json

# Maven
target/
dependency-reduced-pom.xml